<h3 class="title">訓練課程</h3>
<!-- <div class="training&#45;container"> -->
<% @trainings.each do |t| %>
  <a href="<%= training_path(t) %>">
    <div class="training col-lg-3 column">
      <div class="image_tag"><%= image_tag(t.image_embed) %></div>
      <h4 class="title"><%= t.title %></h4>
      <span class="description"><%= t.screencasts.count %>部影片</span>
      <span class="date"><%= t.display_date %></span>
    </div>
  </a>
<% end %>
<div class="training col-lg-3 column">
  <div id="coming-soon" class="image_tag">
    Coming soon...
  </div>
</div>
<!-- </div> -->
