<%= render partial: "users/nav" %>
<div class="col-lg-12">
  <div class="posts">
    <div class="column year-column">
      <table>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <!-- <td><button id="confirm_send" class="btn btn&#45;primary">確認發送</button></td> -->
          </tr>
          <% @posts.each do |post| %>
            <tr class="list-item">
              <td><%= post.id %>.</td>
              <td class="">
                <p>
                  <%= link_to post.title, edit_user_post_path(current_user["name"], post) %> 
                  <%= content_tag(:code, "未公開") unless post[:is_public] %>
                  <% if post.video_embed && post.video_embed != "" %>
                    <span class="suffix glyphicon glyphicon-film"></span>
                  <% end %>
                </p>
              </td>
              <td class=""><span class="date-display"><%= post[:display_date].strftime("%Y-%m-%d") %></span><%= link_to "刪除", user_post_path(current_user["name"], post), method: :delete, class: "delete", data: { confirm: "確定刪除？" } %></td>
              <td class="">
                <%= mail_toggle_button(post) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
