<div class="desktop-only">
  <div class="order col-sm-12">
    <table class="table items">
      <thead class="header-tr">
        <% if current_user.is_admin %>
          <th>ID</th>
          <th>使用者</th>
        <% end %>
        <th>序號</th>
        <th>金額(新台幣)</th>
        <th>下單時間</th>
        <th>付款時間</th>
        <th>出貨時間</th>
        <th>到貨時間</th>
        <th>狀態</th>
        <th></th>
      </thead>
      <tbody>
        <% orders.each do |order| %>
          <tr class="<%= highlight_pending(order) if current_user.is_admin %>">
            <% if current_user.is_admin %>
              <td><%= order.user.id if order.user %></td>
              <td><%= order.user.name if order.user %></td>
            <% end %>
            <td><%= order.token %></td>
            <td><%= order.price %></td>
            <td>
              <p><%= date(order.order_time) %></p>
              <p><%= time(order.order_time) %></p>
            </td>
            <td>
              <p><%= date(order.pay_time) %></p>
              <p><%= time(order.pay_time) %></p>
            </td>
            <td>
              <p><%= date(order.shipping_time) %></p>
              <p><%= time(order.shipping_time) %></p>
            </td>
            <td>
              <p><%= date(order.arrived_at) %></p>
              <p><%= time(order.arrived_at) %></p>
            </td>
            <td><%= status_print(order.aasm_state) %></td>
            <td><%= link_to "檢視", store_order_path(order), class: "btn btn-primary" %></td>
            <!-- <td><%= link_to "刪除", store_order_path(order), method: :delete %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="mobile-only">
  <div class="enlarge-text order col-sm-12">
    <table class="table items">
      <thead>
        <th>序號</th>
        <th>金額</th>
        <th>狀態</th>
        <th></th>
      </thead>
      <tbody>
        <% orders.each do |order| %>
          <tr>
            <td><%= order.token[0..3] %></td>
            <td><%= order.price %></td>
            <td><%= status_print(order.aasm_state) %></td>
            <td><%= link_to "檢視", store_order_path(order), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
