<div class="order col-sm-8">
  <table class="table items">
    <thead>
      <th>名稱</th>
      <th>數量</th>
      <th>單價</th>
      <th>總價</th>
      <%= content_tag(:th, "庫存") if @order.not_charged? %>
      <th></th>
    </thead>
    <tbody>
      <%= form_tag update_quantity_store_order_path(@order) do %>
        <% @order.items.each do |i| %>
          <tr>
            <td><%= link_to i.product.title, store_product_path(i.product_id), target: "_blank" %></td>
            <% if @order.not_charged? %>
              <td style="width: 80px;"><%= text_field_tag i.id.to_s.to_sym, i.quantity, class: "form-control", style: "" %></td>
            <% else %>
              <td style="width: 65px;"><%= i.quantity %></td>
            <% end %>
            <td><%= number_with_delimiter i.price %></td>
            <td><%= number_with_delimiter i.sum %></td>
            <%= content_tag(:td, check_stock(i)) if @order.not_charged? %>
            <td class="cancel-td"><%= link_to("移除", delete_store_order_item_path(i), method: :post, class: "cancel") if @order.not_charged? %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= submit_tag "更新數量", class: "btn btn-warning" if @order.not_charged? %></td>
          <td></td>
          <td>共 <%= number_with_delimiter total_price %> 元</td>
          <%= content_tag(:td, "") if @order.not_charged? %>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render partial: "shipping_form" unless @order.cart? %>

  <div class="column">
    <h4>備註</h4>
    <p><%= "* 未登入帳號的購物車最多保留7天" unless current_user %></p>
    <p>* 價格皆為新台幣計價</p>
    <p>* 付款之前，庫存量隨時都會變，付款之後才會保留品項</p>
    <p>* 付款後，便不可再修改寄送資訊</p>
    <p>* 付款後，將在1~2天內出貨，出貨後將以email通知</p>
    <p>* 正常到貨時間為7天內，送件進度可至<%= link_to "郵局查詢", "http://postserv.post.gov.tw/webpost/CSController?cmd=POS4001_1&_SYS_ID=D&_MENU_ID=189&_ACTIVE_ID=190", target: "_blank" %></p>
  </div>

</div>

<div class="notes column col-sm-4">

  <h4>訂單狀態</h4>
  <%= progress %>
  <hr />
  <%= next_step %>
</div>

<% if @order.transfer %>
  <div class="notes column col-sm-4">
    <h4>轉帳資訊</h4>
    <%= link_to "修改", edit_store_order_payment_transfer_path(@order, @transfer), class: "btn btn-warning action" if not @transfer.confirm %>
  </div>
<% end %>

<div class="buttons col-lg-12">
  <%= action_button %>
  <div class="warning">
    <%= warning %>
  </div>
</div>

