<div class="order col-sm-8">
  <table class="table items">
    <thead>
      <th>名稱</th>
      <th>數量</th>
      <th>單價</th>
      <th>總價</th>
      <%= content_tag(:th, "庫存") if @order.not_charged? %>
      <th></th>
    </thead>
    <tbody>
      <%= form_tag update_quantity_store_order_path(@order) do %>
        <% @order.items.each do |i| %>
          <tr>
            <td><%= link_to i.product.title, store_product_path(i.product_id), target: "_blank" %></td>
            <% if @order.not_charged? %>
              <td style="width: 80px;"><%= text_field_tag i.id.to_s.to_sym, i.quantity, class: "form-control", style: "" %></td>
            <% else %>
              <td style="width: 65px;"><%= i.quantity %></td>
            <% end %>
            <td><%= number_with_delimiter i.price %></td>
            <td><%= number_with_delimiter i.sum %></td>
            <%= content_tag(:td, check_stock(i)) if @order.not_charged? %>
            <td class="cancel-td"><%= link_to("移除", delete_store_order_item_path(i), method: :post, class: "cancel") if @order.not_charged? %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= submit_tag "更新數量", class: "btn btn-warning" if @order.not_charged? %></td>
          <td></td>
          <td>共 <%= number_with_delimiter total_price %> 元</td>
          <%= content_tag(:td, "") if @order.not_charged? %>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="column">
    <h4>備註</h4>
    <p><%= "* 未登入帳號的購物車最多保留7天" unless current_user %></p>
    <p>* 價格皆為新台幣計價</p>
    <p>* 付款之前，庫存量隨時都會變，付款之後便會確定有貨。</p>
    <p>* 付款後，將在1~2天內出貨，出貨後將以email通知</p>
    <p>* 正常到貨時間為7天內，送件進度可至<%= link_to "郵局查詢", "http://postserv.post.gov.tw/webpost/CSController?cmd=POS4001_1&_SYS_ID=D&_MENU_ID=189&_ACTIVE_ID=190", target: "_blank" %></p>
  </div>

</div>

<div class="notes column col-sm-4">

  <h4>訂單狀態</h4>
  <%= progress %>
  <hr />
  <%= next_step %>
</div>

<div class="col-lg-12" class="gray-border-top">
  <h2>寄送資訊</h2>
  <%= form_tag store_order_order_infos_path(@order) do %>
    <table class="shipping">
      <tbody>
        <tr>
          <td>收件人姓名</td>
          <td><%= text_field_tag :shipping_name, @order_info.shipping_name, class: "form-control" %></td>
        </tr>
        <tr>
          <td>收件人地址</td>
          <td><%= text_field_tag :shipping_address, @order_info.shipping_address, class: "form-control" %></td>
        </tr>
        <tr>
          <td>聯絡電話</td>
          <td><%= text_field_tag :phone, @order_info.phone, class: "form-control" %></td>
        </tr>
        <tr>
          <td colspan="2"><%= submit_tag "更新寄送資訊", class: "btn btn-warning action" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>

<div class="buttons col-lg-12">
  <%= action_button %>
  <%= action_warning %>
</div>

