<!-- <h3> -->
  <div class="column">
    <h4>寄送資訊</h4>
    <% if @order.paid? %>
      <table class="shipping">
        <tbody class="shipping">
          <tr>
            <td>收件人姓名</td>
            <td><%= @order_info.shipping_name %></td>
          </tr>
          <tr>
            <td>收件人地址</td>
            <td><%= @order_info.shipping_address %></td>
          </tr>
          <tr>
            <td>聯絡電話</td>
            <td><%= @order_info.phone %></td>
          </tr>
        </tbody>
      </table>
    <% else %>
      <%= form_tag store_order_order_infos_path(@order) do %>
        <table class="shipping">
          <tbody>
            <tr>
              <td>收件人姓名</td>
              <td><%= text_field_tag :shipping_name, @order_info.shipping_name, class: "form-control" %></td>
            </tr>
            <tr>
              <td>收件人地址</td>
              <td><%= text_field_tag :shipping_address, @order_info.shipping_address, class: "form-control" %></td>
            </tr>
            <tr>
              <td>聯絡電話</td>
              <td><%= text_field_tag :phone, @order_info.phone, class: "form-control" %></td>
            </tr>
          </tbody>
        </table>
        <%= submit_tag "更新寄送資訊", class: "btn #{shipping_class} action", style: "margin-top: -30px;" %>
      <% end %>
    <% end %>
    <p>* 運送僅限台澎金馬地區</p>
  </div>
  <!-- </h3> -->
