<% if current_user && current_user.is_admin %>
  <%= render partial: "admin_panel" %>
<% end %>

<%= order_title %>
<% if @order.items.size > 0 %>
  <%= render partial: "order" %>
<% else %>
  <div class="go-to-shop">
    <%= image_tag "http://i.imgur.com/RgFIAWu.png" %>
    <p>無任何品項</p>
    <%= link_to "前往商店", store_products_path, :class => "btn btn-primary" %>
  </div>
<% end %>
