<%= order_title %>
<% unless @order.aasm_state %>
  <span class="status float-right">狀態：<%= status_print @order.aasm_state %></span>
<% end %>
<%= progress_bar %>
<div class="status-bar">
  <span id="place">下單</span>
  <span id="pay">付款</span>
  <span id="deliver">出貨</span>
</div>
<table class="table table-bordered table-hover items">
  <thead>
    <th>名稱</th>
    <th>數量</th>
    <th>價格</th>
  </thead>
  <tbody>
    <% @order.items.each do |i| %>
      <tr>
        <td><%= link_to i.product.title, store_product_path(i.product_id), target: "_blank" %></td>
        <td><%= i.quantity %></td>
        <td><%= i.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="notes column">
  <h4>注意事項</h4>
  <p>* 價格為新台幣計價。</p>
  <% unless current_user %>
    <p>* 若未登入，購物車內容僅會保留7天。</p>
  <% end %>
</div>

<div class="buttons">
  <%= link_to "結帳", checkout_store_order_path(@order), class: "btn btn-primary" %>
</div>

