<%= order_title %>
<% unless @order.aasm_state %>
  <span class="status float-right">狀態：<%= status_print @order.aasm_state %></span>
<% end %>
<%= progress_bar %>
<%= progress_bar_status %>

<div class="order col-sm-6">
  <table class="table items">
    <thead>
      <th>名稱</th>
      <th>數量</th>
      <th>價格</th>
      <th>庫存</th>
      <th></th>
    </thead>
    <tbody>
      <% @order.items.each do |i| %>
        <tr>
          <td><%= link_to i.product.title, store_product_path(i.product_id), target: "_blank" %></td>
          <td><%= i.quantity %></td>
          <td><%= i.price %></td>
          <td><%= check_stock(i) %></td>
          <td class="cancel-td"><%= link_to "取消", "", class: "cancel" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="notes column col-sm-6">
  <h4>注意事項</h4>
  <p>* 價格為新台幣計價。</p>
  <% unless current_user %>
    <p>* 若未登入，購物車內容僅會保留7天。</p>
  <% end %>
</div>

<div class="buttons col-lg-12">
  <%= action_button %>
</div>


