<%= render partial: "users/nav" %>
<div class="col-lg-12">
  <div class="posts">
    <div class="column year-column">
      <table>
        <tbody>
          <% @screen_casts.each do |screen_cast| %>
            <tr>
              <td class="td-left"><h4><%= link_to screen_cast.title, edit_user_screen_cast_path(current_user["name"], screen_cast[:slug]) %> <%= content_tag(:code, "未公開") unless screen_cast[:is_public] %></h4></td>
              <td class="td-right"><span class="date-display"><%= screen_cast[:display_date].strftime("%Y-%m-%d") %></span><%= link_to "刪除", user_screen_cast_path(current_user["name"], screen_cast[:slug]), method: :delete, class: "delete", data: { confirm: "確定刪除？" } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
