<% @products.each do |p| %>
  <div class="col-sm-3">
    <a href="<%= store_product_path(p) %>">
      <div class="product col-lg-3">
        <div class="image_tag"><%= image_tag(p.default_image) %></div>
        <div class="product_text">
          <span class="product_title"><%= p.title %></span><span class="price">$<%= p.price %></span>
        </div>
      </div>
    </a>
    <!-- <p class="price"> -->
    <!--   <span>$<%= p.price %></span> -->
    <!-- </p> -->
    <% if is_admin? %>
    <div style="text-align: center">
      <%= link_to "編輯", edit_store_product_path(p), class: "note" %> |
      <%= link_to "刪除", store_product_path(p), method: :delete, class: "note", style: "color: red;" %>
    </div>
    <% end %>
  </div>
<% end %>
