<div class="col-lg-3 column margin">
  <p>價格：<%= number_with_delimiter @product.price %> NTD/個</p>
  <%= form_tag add_to_cart_store_products_path do %>
    <%= hidden_field_tag :product_id, @product.id %>
    <p>數量：<%= text_field_tag :quantity, "1", class: "form-control" %></p>
    <p><%= submit_tag "加入訂單", class: "btn btn-success add" %></p>
  <% end %>
</div>
<% unless @product.description.blank? %>
  <div class="col-lg-3 column margin">
    <p><%= simple_format @product.description %></p>
  </div>
<% end %>

