<ul class="nav nav-pills">
  <li class="<%= "active" if params[:controller] == "users" %>">
    <%= link_to "帳號資訊", info_users_path %>
  </li>
  <li class="<%= "active" if params[:controller] == "users" && params[:aciton] == "orders" %>">
    <%= link_to "所有訂單", store_orders_path %>
  </li>
  <% if is_admin? %>
    <li class="<%= "active" if params[:controller] == "settings" && params[:action] == "edit_all" %>">
      <%= link_to "網站設定", edit_all_settings_path %>
    </li>
    <li class="<%= "active" if params[:controller] == "users/posts" && params[:action] == "new" %>">
      <%= link_to "新增文章", new_user_post_path(current_user["name"]) %>
    </li>
    <li class="<%= "active" if params[:controller] == "users/posts" && params[:action] == "index" %>">
      <%= link_to "文章列表", user_posts_path(current_user["name"]) %>
    </li>
    <li class="<%= "active" if params[:controller] == "users/categories" %>">
      <%= link_to "文章分類", edit_all_user_categories_path(current_user["name"]) %>
    </li>
    <li class="<%= "active" if params[:controller] == "users/screencasts" && params[:action] == "new" %>">
      <%= link_to "新增影片", new_user_screencast_path(current_user["name"]) %>
    </li>
    <li class="<%= "active" if params[:controller] == "users/screencasts" && params[:action] == "index" %>">
      <%= link_to "影片列表", user_screencasts_path(current_user["name"]) %>
    </li>
    <li class="<%= "active" if params[:controller] == "users/trainings" && params[:action] == "new" %>">
      <%= link_to "新增課程", new_user_training_path(current_user["name"]) %>
    </li>
    <li class="<%= "active" if params[:controller] == "users/trainings" && params[:action] == "index" %>">
      <%= link_to "課程列表", user_trainings_path(current_user["name"]) %>
    </li>
  <% end %>
</ul>
