<ul class="nav nav-pills">
  <li class="<%= "active" if params[:controller] == "users" %>">
    <%= link_to "帳號資訊", user_path(current_user["name"]) %>
  </li>
  <% if is_admin? %>
    <li class="<%= "active" if params[:controller] == "settings" && params[:action] == "index" %>">
      <%= link_to "網站設定", settings_path %>
    </li>
    <li class="<%= "active" if params[:controller] == "users/posts" && params[:action] == "new" %>">
      <%= link_to "新增文章", new_user_post_path(current_user["name"]) %>
    </li>
    <li class="<%= "active" if params[:controller] == "users/posts" && params[:action] == "index" %>">
      <%= link_to "文章列表", user_posts_path(current_user["name"]) %>
    </li>
    <li class="<%= "active" if params[:controller] == "users/categories" %>">
      <%= link_to "文章分類", edit_all_user_categories_path(current_user["name"]) %>
    </li>
    <li class="<%= "active" if params[:controller] == "users/screen_casts" && params[:action] == "new" %>">
      <%= link_to "新增影片", new_user_screen_cast_path(current_user["name"]) %>
    </li>
    <li class="<%= "active" if params[:controller] == "users/screen_casts" && params[:action] == "index" %>">
      <%= link_to "影片列表", user_screen_casts_path(current_user["name"]) %>
    </li>
    <li class="<%= "active" if params[:controller] == "users/trainings" && params[:action] == "new" %>">
      <%= link_to "新增課程", new_user_training_path(current_user["name"]) %>
    </li>
    <li class="<%= "active" if params[:controller] == "users/trainings" && params[:action] == "index" %>">
      <%= link_to "課程列表", user_trainings_path(current_user["name"]) %>
    </li>
  <% end %>
</ul>
