<ul class="nav nav-pills">
  <li id="basic_info" class="<%= route_is? "show" %>">
    <%= link_to "帳號資訊", user_path(current_user["name"]) %>
  </li>
  <% if is_admin? %>
    <li id="new" class="">
      <%= link_to "新增文章", new_post_path %>
    </li>
    <li id="posts" class="<%= route_is? "posts" %>">
      <%= link_to "所有文章", edit_posts_path(current_user["name"]) %>
    </li>
    <li id="categories" class="<%= route_is? "categories" %>">
      <%= link_to "分類", edit_categories_path(current_user["name"]) %>
    </li>
  <% end %>
</ul>
