<h2>轉帳資訊</h2>
<div class="column col-lg-5 transfer">
    <%= form_for [@order, @transfer], url: store_order_payment_transfers_path, method: :post do |t| %>
    <table class="">
      <tbody>
        <tr>
          <td>轉帳帳號末五碼</td>
          <td><%= t.text_field :transaction_id, class: "form-control", placeholder: "" %></td>
        </tr>
        <tr>
          <td colspan="2">
            <%= t.submit "送出", class: "btn btn-primary" %>
            <%= link_to "取消", store_order_path(@order), style: "padding-left: 20px;" %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
<div class="column col-lg-6 transfer">
  <h4>轉帳帳號</h4>
  <p>銀行：808</p>
  <p>帳號：1111111111111</p>
  <p>金額：<%= @order.price %></p>
  <h4>備註</h4>
  <p>* 轉帳完成後，需要1~2個工作天進行確認</p>
  <p>* 確認完成後即會出貨</p>
</div>

