<h4><%= @order.user.name %>，特快車已經出貨！</h4>

<p></p>
<h3 style="margin-top: 20px">購物明細</h3>
<p>訂單編號：<%= link_to @order.token, store_order_url(@order) %></p>
<p>出貨時間：<%= @order.shipping_time.strftime("%Y-%m-%d %H:%M:%S") %></p>
<p></p>

<table style="width: 300px; border: 1px solid gray; margin-top: 20px; margin-bottom: 20px;">
  <thead>
    <th style="text-align: left">品項</th>
    <th style="text-align: left">數量</th>
  </thead>
  <tbody>
    <% @order.items.each do |i| %>
      <tr>
        <td style="width: 200px;"><%= i.product.title %></td>
        <td style="width: 100px;"><%= i.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>* 正常情況收到本信後2天內會到貨，請耐心等候</p>
<p>* 採用掛號寄送，請確認有人可在收件地址收件</p>
<p>* 如有任何問題，歡迎回信至info@motion-express.com </p>
