<h3>感謝您在特快車消費</h3>

<p>訂單編號：<%= @order.token %></p>
<p>付款時間：<%= @order.pay_time.strftime("%Y-%m-%d %H:%M:%S") %></p>
<p>付款方式：<%= @order.payment_method.name %></p>

<table>
  <thead>
    <th>品項</th>
    <th>數量</th>
    <th>單價</th>
    <th></th>
  </thead>
  <tbody>
    <% @order.items.each do |i| %>
      <tr>
        <td><%= i.product.title %></td>
        <td><%= i.quantity %></td>
        <td><%= i.price %></td>
        <td></td>
      </tr>
    <% end %>
    <tr>
      <td>總價</td>
      <td></td>
      <td></td>
      <td><%= @order.price %></td>
    </tr>
  </tbody>
</table>


<p>將會在1~2天內出貨，如有任何問題，歡迎回信 info@motion-express.com </p>

