<div class="column year-column">
  <table>
    <tbody>
      <% @screencasts.each do |screencast| %>
        <tr>
          <td class="td-thumbnail">
            <%= link_to(image_tag(screencast.thumbnail, class: "thumbnail"), screencast_path(screencast[:slug])) %>
          </td>
          <td class="td-left">
            <h4>
              <% if screencast.video_embed && screencast.video_embed != "" %>
                <span class="prefix glyphicon glyphicon-film"></span>
              <% end %>
              <%= link_to screencast.title, screencast_path(screencast[:slug]) %>
            </h4>
            <span class="date-display desktop-only"><%= screencast[:display_date].strftime("%Y-%m-%d") %></span> 
          </td>
          <td class="td-right desktop-only">
            <% if is_admin? %>
              <%= link_to "編輯", edit_user_screencast_path(current_user["name"], screencast[:slug]), style: "color: red;font-size: 12px;" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div style="text-align: center;">
    <%= paginate @screencasts %>
  </div>
  <% if @screencasts.length < 1 %>
    <p class="no-content">No Matching Result</p>
  <% end %>
</div>

