<div class="column year-column">
  <table>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class="td-thumbnail">
            <% if post.thumbnail %>
              <%= link_to(image_tag(post.thumbnail, class: "thumbnail"), post_path(post[:slug])) %>
            <% end %>
          </td>
          <td class="td-left">
            <h4>
              <% if post.video_embed && post.video_embed != "" %>
                <span class="prefix glyphicon glyphicon-film"></span>
              <% end %>
              <%= link_to post.title, post_path(post[:slug]) %>
            </h4>
            <span class="date-display desktop-only"><%= post[:display_date].strftime("%Y-%m-%d") %></span>
          </td>
          <td class="td-right desktop-only">
            <% if is_admin? %>
              <%= link_to "編輯", edit_user_post_path(current_user["name"], post[:slug]), style: "color: red;font-size: 12px;" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div style="text-align: center;">
    <%= paginate @posts %>
  </div>
  <% if @posts.length < 1 %>
    <p class="no-content">No Matching Result</p>
  <% end %>
</div>
