<!-- Blog Sidebar Widgets Column -->

<!-- <div class="widget column"> -->
  <% link_to content_tag(:i, "", class: "fa fa-facebook-square widget-icon"), "https://www.facebook.com/motionex", target: "_blank" %>
  <% link_to content_tag(:i, "", class: "fa fa-twitter-square widget-icon"), "https://twitter.com/motionxpress", target: "_blank" %>
<!-- </div> -->

<div class="widget column">
  <%= form_tag subscribe_users_path, :method => 'post' do %>
    <%= text_field_tag :email, params[:email], :class => "form-control", :placeholder => "Email Subscription" %>
  <% end %>
</div>

<div class="widget column">
  <%= form_tag search_posts_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "Search" %>
  <% end %>
</div>

<!-- Blog Categories Well -->
<div class="widget column">
  <!-- <h4>文章分類</h4> -->
  <div class="row">
    <div class="col-lg-6">
      <ul class="list-unstyled">
        <li><%= link_to "所有文章", posts_path %></li>
        <% @categories.each do |category| %>
          <li><%= link_to "#{category[:name]}", "/categories/#{category[:slug]}" %></li>
      <% end %>
    </ul>
  </div>
</div>
<!-- /.row -->
  </div>
