<div class="row">

  <!-- Blog Post Content Column -->
  <div class="col-lg-9">

    <!-- Blog Post -->

    <!-- Title -->
    <h1><%= @post[:title] %></h1>

    <!-- Author -->
    <p><a href="#"><%= @post.author %></a> @ <%= @post.display_date.strftime("%Y-%m-%d") %></p>
    <hr>

    <!-- Post Content -->
    <div class="post">
      <%= @post.parse %>
    </div>
    <hr>


  </div>

  <div class="col-md-3">
    <%= render partial: "widgets" %>
  </div>

</div>
<!-- /.row -->
