<div class="row">

  <!-- Blog Post Content Column -->
  <!-- <div class="col&#45;lg&#45;9"> -->
  <div class="col-lg-9">

    <div class="column single-post">
      <!-- Blog Post -->

      <!-- Title -->
      <h1><%= @post[:title] %></h1>

      <!-- Author -->
      <p><%= render_author(@post.author) %> @ <%= @post.display_date.strftime("%Y-%m-%d") %> <% if is_admin? %><%= link_to "編輯", edit_user_post_path(current_user["name"], @post[:slug]), style: "color: red;" %><% end %></p>
      <hr>

      <!-- Post Content -->
      <div class="post">
        <% if @post.video_embed && @post.video_embed != "" %>
          <div class="screencast">
            <%= @post.video_embed.html_safe %>
          </div>
        <% end %>
        <%= @post.parse %>
        <hr />
        <div style="height: 25px;">
          <%= previous_post_link %>
          <%= next_post_link %>
        </div>
      </div>
      <hr />
    <%= render partial: "layouts/disqus" %>

    </div>
  </div>

  <div class="col-md-3">
    <%= render partial: "widgets" %>
  </div>

</div>
<!-- /.row -->

