<div class="row">

  <!-- Blog Post Content Column -->
  <div class="col-lg-9">

    <div class="column single-post">
      <!-- Blog Post -->

      <!-- Title -->
      <h1><%= @post[:title] %></h1>

      <!-- Author -->
      <p><%= render_author(@post.author) %> @ <%= @post.display_date.strftime("%Y-%m-%d") %></p>
      <hr>

      <!-- Post Content -->
      <div class="post">
        <% if @post.video_embed && @post.video_embed != "" %>
          <div class="screencast">
            <%= @post.video_embed.html_safe %>
          </div>
        <% end %>
        <%= @post.parse %>
      </div>
      <hr>

    </div>

  </div>

  <div class="col-md-3">
    <%= render partial: "widgets" %>
  </div>

</div>
<!-- /.row -->

