<%= render partial: "layouts/messages" %>

<div class="column categories">
  <table class="table table-striped">
    <thead>
      <th>id</th>
      <th>名稱</th>
      <th>網址代碼</th>
      <th></th>
    </thead>
    <tbody>
      <% @categories.each do |c| %>
        <tr>
          <td class="id"><%= c[:id] %></td>
          <td class="content"><input type="text" class="form-control" value="<%= c[:name] %>" id="<%= "name-#{c[:id]}" %>" /></td>
          <td class="slug"><input type="text" class="form-control" value="<%= c[:slug] %>" id="<%= "slug-#{c[:id]}" %>" /></td>
          <td class="delete"><%= link_to "刪除", category_path(c), method: :delete, data: {confirm: "確認刪除？"} %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4"><button class="btn btn-success" id="categories-update">全部更新</button></td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript" charset="utf-8">
  var ids = <%= @categories.map(&:id) %>;
</script>
