<title><%= set(:site_title) %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="title" content="<%= set(:meta_title) %>">
<meta name="keywords" content="<%= set(:meta_keywords) %>">
<meta name="description" content="<%= set(:meta_description) %>">
<meta property="og:type" content="website">
<meta property="og:title" content="<%= set(:og_title) %>">
<meta property="og:url" content="<%= set(:og_url) %>">
<meta property="og:site_name" content="<%= set(:og_site_name) %>">
<!-- <meta property="og:description" content="<%= set(:og_description) %>"> -->
<meta property="og:image" content="<%= set(:og_image) %>">


<link rel="icon" href="<%= set(:favicon_location) %>" />

<%= set(:ga).html_safe unless Rails.env == "development" %>
