<title><%= set(:site_title) %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="title" content="<%= set(:meta_title) %>">
<meta name="keywords" content="<%= set(:meta_keywords) %>">
<meta name="description" content="<%= set(:meta_description) %>">
<meta property="og:type" content="website">

<link rel="icon" href="<%= set(:favicon_location) %>" />

<%= set(:ga).html_safe %>
