<!-- Navigation -->
<nav class="custom-nav navbar navbar-default" role="navigation">
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <!-- <div class="navbar&#45;header"> -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><%= image_tag("black_logo.png",class: "site-logo") %></a>
    <!-- <a class="navbar&#45;brand site&#45;title" href="/">特快車</a> -->
  <!-- </div> -->
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!-- <ul class="nav navbar&#45;nav"> -->
    <!-- </ul> -->
    <ul class="nav navbar-nav">
      <li><%= link_to("Blog", posts_path) %></li>
      <li><%= link_to("課程", trainings_path) %></li>
      <li><%= link_to("商店", store_products_path) %></li>
      <li><%= link_to("作者", author_path) %></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <% if user_signed_in? %>
        <li>
        <%= link_to(current_user["name"], user_path(current_user["name"])) %>
        </li>
        <li>
        <%= link_to("登出", destroy_user_session_path, method: :get) %>
        </li>
      <% else %>
        <li>
        <%= link_to('Github登入', user_omniauth_authorize_path(:github)) %>
        </li>
      <% end %>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>

