<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js"></script> -->
  <%= render partial: "layouts/custom_js" %>
  <%= render partial: "layouts/meta" %>
</head>
<body>

<%= render partial: "layouts/navbar" %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
