<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <%= render partial: "layouts/meta" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render partial: "layouts/custom_js" %>
</head>
<body>

<%= render partial: "layouts/navbar" %>

<div class="container">
  <%= render partial: "layouts/flash" %>
  <%= yield %>
</div>

<%= render partial: "layouts/footer" %>
</body>
</html>
