<!DOCTYPE html>
<html>
<head>
  <%= render partial: "layouts/meta" %>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <%= render partial: "layouts/bootstrap" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'backend/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render partial: "layouts/custom_js" %>
</head>
<body>

<%= render partial: "layouts/navbar" %>

<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible"><%= notice %></div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>

